body, html {
    height: 100%;
    margin: 0;
  }
.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image1.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .hero-text1 {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text1 button {
    font-size: 20px;
    border-color: antiquewhite;
    padding: 5px 12px;
    color: rgb(228, 228, 228);
    background-color: rgb(85, 85, 85, 0.3);
  }
  
  .hero-text1 button:hover {
    border-color: antiquewhite;
    background-color: rgb(85, 85, 85);
    color: white;
  }

  .hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image1.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .hero-text2 {
    text-align: left;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-image2 {
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("section3bg.png");
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 36%;
    padding-right: 25%;
    margin-bottom: 0px;
  }
  

.navitems {
    font-size: 13px;
    list-style-type: none;
    padding-top: 25px;
    padding-right: 25px;
}

.navitems a {
    font-weight: 600;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.navitems a:hover {
    color: gray;
}

.section2 {
  color: rgb(85, 85, 85);
  height: 900px;
}

.section3 {
  height: 250px;
}

.boxes1 {
height: 250px;
}
.subjectbox {
  width: 430px;
}

.messagebox {
  width: 430px;
}

.submit {
  margin-left: 165px;
}
.contactbox {
  border: 10px solid;
  border-color: rgb(0, 136, 255);
}